* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.slider-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -2;

}

.slider-video video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s;
  opacity: 0;
  pointer-events: none;
  z-index: -2;
 
}
