    :root {
        --columns: 3;
        --yellow: rgba(238, 188, 31, 1);
        --pink: rgba(255, 82, 145, 1);
        --blue: rgba(64, 98, 187, 1);
        --green: rgba(6, 141, 126, 1);
        --white: rgba(248, 255, 229, 1);
    }

    body {
        background: linear-gradient(135deg,
                rgb(15, 22, 32),
                rgba(19, 159, 202, 0.925));
    }

    .title-libarary {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 70px;
        font-family: "Marhey", sans-serif;
        animation: zoomIn 1s ease forwards;
    }

    @keyframes zoomIn {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }



    .nav_bar {
        background-color: rgba(27, 27, 27, 0.5);
        position: fixed;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        z-index: 9999;
    }

    .bar1,
    .bar2,
    .bar3_h,
    .bar4 {
        border-radius: 30px;
        background-color: #fff;
        width: 50px;
        height: 5px;
        margin: 5px 0;
        transition: 0.4s;
    }

    /* overlay للخلفية شبه شفافة */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.322);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s;
        z-index: 10000;
    }

    /* القائمة تظهر من فوق */
    .side_menu {
        position: absolute;
        top: -300%;
        left: 0;
        width: 100%;
        height: 150vh;
        background-color: rgba(27, 27, 27, 0.404);

        text-align: center;
        transition: top 0.5s ease;
        padding: 0;
        margin: 0;
        z-index: 1002;
        margin: 0.5px 0;
    }

    .side_menu .bar-rigth {
        position: relative;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px;
        color: #fff;
        text-decoration: none;
        font-size: 30px;

    }

    .side_menu.active {
        top: 0;
    }

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        margin: 200px -40px;
        animation: zoomIn 4s ease forwards;

    }

    li {
        grid-column-end: span 2;
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        margin-top: -50%;
    }

    li:nth-child(2n) {
        grid-column-start: 2;
    }

    li::before,
    li::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-size: 50% 100%, 100% 100%;
        background-position: left, right;
    }

    li::before {
        z-index: -10;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        background-repeat: no-repeat;
        background-image:
            linear-gradient(-45deg, var(--yellow) 53.5%, var(--green) 53.5%, var(--green) 60%, var(--yellow) 60%),
            linear-gradient(45deg, var(--yellow) 65.3%, var(--green) 65.3%, var(--green) 69.9%, var(--yellow) 69.9%);
    }

    li::after {
        clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
        -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
        background-repeat: no-repeat;
        background-image: linear-gradient(45deg, var(--yellow) 40%, var(--green) 40%), linear-gradient(-45deg, var(--yellow) 30%, var(--green) 30%);
    }

    li:nth-child(2n)::before {
        background-image: linear-gradient(-45deg, var(--pink) 53.5%, var(--blue) 53.5%, var(--blue) 60%, var(--pink) 60%), linear-gradient(45deg, var(--pink) 65.3%, var(--blue) 65.3%, var(--blue) 69.9%, var(--pink) 69.9%);
    }

    li:nth-child(2n)::after {
        background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%), linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
    }

    li:nth-child(2n)::after {
        background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%), linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
    }

    li:nth-child(5n)::before {
        background-image: linear-gradient(-45deg, var(--green) 53.5%, var(--pink) 53.5%, var(--pink) 60%, var(--green) 60%), linear-gradient(45deg, var(--green) 65.3%, var(--pink) 65.3%, var(--pink) 69.9%, var(--green) 69.9%);
    }

    li:nth-child(5n)::after {
        background-image: linear-gradient(45deg, var(--green) 40%, var(--pink) 40%), linear-gradient(-45deg, var(--green) 30%, var(--pink) 30%);
    }

    li:nth-child(7n)::before,
    li:nth-child(7n-4)::before {
        background-image: linear-gradient(-45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%), linear-gradient(45deg, var(--blue) 65.3%, var(--white) 65.3%, var(--white) 69.9%, var(--blue) 69.9%);
    }

    li:nth-child(7n)::before,
    li:nth-child(7n-4)::before {
        background-image: linear-gradient(-45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%), linear-gradient(45deg, var(--blue) 65.3%, var(--white) 65.3%, var(--white) 69.9%, var(--blue) 69.9%);
    }

    li:nth-child(9n)::before,
    li:nth-child(9n-5)::before {
        background-image: linear-gradient(-45deg, var(--white) 53.5%, var(--green) 53.5%, var(--green) 60%, var(--white) 60%), linear-gradient(45deg, var(--white) 65.3%, var(--green) 65.3%, var(--green) 69.9%, var(--white) 69.9%);
    }

    li:nth-child(9n)::after,
    li:nth-child(9n-5)::after {
        background-image: linear-gradient(45deg, var(--white) 40%, var(--green) 40%), linear-gradient(-45deg, var(--white) 30%, var(--green) 30%);
    }

    img {
        position: absolute;
        width: 43%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-60%);
        box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
        transition-property: transform;
        transition-duration: .3s;


    }

    img:hover {
        transform: translateX(-40%) translateY(-70%) rotatez(25deg);
    }

    .img1 {
        position: absolute;
        width: 40%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-60%);
        box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
        transition-property: transform;
        transition-duration: .3s;

    }

    .img1:hover {
        transform: translateX(-40%) translateY(-70%) rotatez(25deg);
    }

    @media (min-width:450px) {
        ul {
            margin: 190px 40px;
        }
    }

    @media (min-width:600px) {
        :root {
            --columns: 5;
        }

        li:nth-child(2n) {
            grid-column-start: auto;
        }

        li:nth-child(4n-1) {
            grid-column-start: 2;
        }
    }

    @media (min-width:900px) {
        :root {
            --columns: 7;
        }

        li:nth-child(4n-1) {
            grid-column-start: auto;
        }

        li:nth-child(6n-2) {
            grid-column-start: 2;
        }
    }

    @media (min-width:1200px) {
        :root {
            --columns: 9;
        }

        li:nth-child(6n-2) {
            grid-column-start: auto;
        }

        li:nth-child(8n-3) {
            grid-column-start: 2;
        }
    }

    @media (min-width:1500px) {
        :root {
            --columns: 11;
        }

        li:nth-child(8n-3) {
            grid-column-start: auto;
        }

        li:nth-child(10n-4) {
            grid-column-start: 2;
        }
    }

    @media (min-width:1800px) {
        :root {
            --columns: 13;
        }

        li:nth-child(10n-4) {
            grid-column-start: auto;
        }

        li:nth-child(12n-5) {
            grid-column-start: 2;
        }
    }

    @media (min-width:2100px) {
        :root {
            --columns: 15;
        }

        li:nth-child(12n-5) {
            grid-column-start: auto;
        }

        li:nth-child(14n-6) {
            grid-column-start: 2;
        }
    }

    @media (min-width:300px) and (max-width:400px) {
        :root {
            --columns: 4;
            --yellow: rgba(238, 188, 31, 1);
            --pink: rgba(255, 82, 145, 1);
            --blue: rgba(64, 98, 187, 1);
            --green: rgba(6, 141, 126, 1);
            --white: rgba(248, 255, 229, 1);
        }

        body {
            background: linear-gradient(135deg,
                    rgb(15, 22, 32),
                    rgba(19, 159, 202, 0.925));
            width: 100%;
            overflow-x: hidden;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            height: auto;
        }

        .title-libarary {
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 50px;
            font-family: "Marhey", sans-serif;
            animation: zoomIn 1s ease forwards;
        }

        @keyframes zoomIn {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            100% {
                transform: scale(1);
                opacity: 1;
            }
        }

        .nav_bar {
            background-color: rgba(27, 27, 27, 0.365);
            position: fixed;
            top: 20px;
            left: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-radius: 15px;
            cursor: pointer;
            z-index: 9999;
        }

        .bar1,
        .bar2,
        .bar3_h,
        .bar4 {
            border-radius: 30px;
            background-color: #fff;
            width: 30px;
            height: 5px;
            margin: 5px 0;
            transition: 0.4s;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.322);
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s;
            z-index: 10000;
        }

        .side_menu {
            position: absolute;
            top: -300%;
            left: 0;
            width: 100%;
            height: 115vh;
            background-color: rgba(27, 27, 27, 0.404);

            text-align: center;
            transition: top 0.5s ease;
            padding: 0;
            margin: 0;
            z-index: 1002;
            margin: 0.5px 0;
        }

        .side_menu .bar-rigth {
            position: relative;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 20px;
            color: #fff;
            text-decoration: none;
            font-size: 18px;

        }

        .side_menu.active {
            top: 0;
        }

        .overlay.active {
            opacity: 1;
            visibility: visible;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(var(--columns), 1fr);
            margin: 200px -40px;
            animation: zoomIn 4s ease forwards;

        }

        li {
            grid-column-end: span 2;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-top: -50%;
        }

        li:nth-child(2n) {
            grid-column-start: auto;
        }

        :root {
            --columns: 4;
        }

        li:nth-child(4n-1) {
            grid-column-start: 2;
        }

        ul {
            margin: 70px 20px;
        }

        li:nth-child(4n-1) {
            grid-column-start: 2;
        }

        li {

            grid-column-end: span 3;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            margin-top: -20%;
        }

        li:nth-child(2n) {
            grid-column-start: 2;
        }

        li::before,
        li::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-size: 50% 100%, 100% 100%;
            background-position: left, right;
        }

        li::before {
            z-index: -10;
            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
            background-repeat: no-repeat;
            background-image:
                linear-gradient(-45deg, var(--yellow) 53.5%, var(--green) 53.5%, var(--green) 60%, var(--yellow) 60%),
                linear-gradient(45deg, var(--yellow) 65.3%, var(--green) 65.3%, var(--green) 69.9%, var(--yellow) 69.9%);
        }

        li::after {
            clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
            -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
            background-repeat: no-repeat;
            background-image: linear-gradient(45deg, var(--yellow) 40%, var(--green) 40%), linear-gradient(-45deg, var(--yellow) 30%, var(--green) 30%);
        }

        li:nth-child(2n)::before {
            background-image: linear-gradient(-45deg, var(--pink) 53.5%, var(--blue) 53.5%, var(--blue) 60%, var(--pink) 60%), linear-gradient(45deg, var(--pink) 65.3%, var(--blue) 65.3%, var(--blue) 69.9%, var(--pink) 69.9%);
        }

        li:nth-child(2n)::after {
            background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%), linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
        }

        li:nth-child(2n)::after {
            background-image: linear-gradient(45deg, var(--pink) 40%, var(--blue) 40%), linear-gradient(-45deg, var(--pink) 30%, var(--blue) 30%);
        }

        li:nth-child(5n)::before {
            background-image: linear-gradient(-45deg, var(--green) 53.5%, var(--pink) 53.5%, var(--pink) 60%, var(--green) 60%), linear-gradient(45deg, var(--green) 65.3%, var(--pink) 65.3%, var(--pink) 69.9%, var(--green) 69.9%);
        }

        li:nth-child(5n)::after {
            background-image: linear-gradient(45deg, var(--green) 40%, var(--pink) 40%), linear-gradient(-45deg, var(--green) 30%, var(--pink) 30%);
        }

        li:nth-child(7n)::before,
        li:nth-child(7n-4)::before {
            background-image: linear-gradient(-45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%), linear-gradient(45deg, var(--blue) 65.3%, var(--white) 65.3%, var(--white) 69.9%, var(--blue) 69.9%);
        }

        li:nth-child(7n)::before,
        li:nth-child(7n-4)::before {
            background-image: linear-gradient(-45deg, var(--blue) 53.5%, var(--white) 53.5%, var(--white) 60%, var(--blue) 60%), linear-gradient(45deg, var(--blue) 65.3%, var(--white) 65.3%, var(--white) 69.9%, var(--blue) 69.9%);
        }

        li:nth-child(9n)::before,
        li:nth-child(9n-5)::before {
            background-image: linear-gradient(-45deg, var(--white) 53.5%, var(--green) 53.5%, var(--green) 60%, var(--white) 60%), linear-gradient(45deg, var(--white) 65.3%, var(--green) 65.3%, var(--green) 69.9%, var(--white) 69.9%);
        }

        li:nth-child(9n)::after,
        li:nth-child(9n-5)::after {
            background-image: linear-gradient(45deg, var(--white) 40%, var(--green) 40%), linear-gradient(-45deg, var(--white) 30%, var(--green) 30%);
        }

        img {
            position: absolute;
            width: 43%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-60%);
            box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
            transition-property: transform;
            transition-duration: .3s;


        }

        img:hover {
            transform: translateX(-40%) translateY(-70%) rotatez(25deg);
        }

        .img1 {
            position: absolute;
            width: 40%;
            height: 60%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-60%);
            box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.3);
            transition-property: transform;
            transition-duration: .3s;

        }

        .img1:hover {
            transform: translateX(-40%) translateY(-70%) rotatez(25deg);
        }
    }

    @media (min-width:401px) and (max-width:1000px) {
        body {
            background: linear-gradient(135deg,
                    rgb(15, 22, 32),
                    rgba(19, 159, 202, 0.925));
            width: 100%;
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            height: auto;
            /* overflow-x: hidden; */
        }

        :root {
            --columns: 4;
            --yellow: rgba(238, 188, 31, 1);
            --pink: rgba(255, 82, 145, 1);
            --blue: rgba(64, 98, 187, 1);
            --green: rgba(6, 141, 126, 1);
            --white: rgba(248, 255, 229, 1);
        }
    }

    @media (min-width:363px) and (max-width:507px) {
        .nav_bar {
            background-color: rgba(27, 27, 27, 0.365);
            position: fixed;
            top: 90px;
            left: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-radius: 15px;
            cursor: pointer;
            z-index: 9999;
        }
    }

    @media (min-width:508px) and (max-width:669px) {
        .nav_bar {
            background-color: rgba(27, 27, 27, 0.365);
            position: fixed;
            top: 130px;
            left: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-radius: 15px;
            cursor: pointer;
            z-index: 9999;
        }
    }

    @media (min-width:670px) and (max-width:1000px) {
        .nav_bar {
            background-color: rgba(27, 27, 27, 0.365);
            position: fixed;
            top: 50px;
            left: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 15px;
            border-radius: 15px;
            cursor: pointer;
            z-index: 9999;
        }
    }