.content-wep {
  position: relative;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to top, #0a0a0bb5, #03030500, #08070e00);
}

.logo-row {
  background-color: rgba(255, 255, 255, 0);
}

:root {
  --marquee-width: 100%;
  --marquee-height: 80px;
  --marquee-elements-displayed: 6;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #ffffff00;
  overflow: hidden;
  position: relative;
}

.marquee::before,
.marquee::after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 2;
  pointer-events: none;
}

.marquee::before {
  left: 0;
}

.marquee::after {
  right: 0;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
  padding: 0;
  margin: 0;

}

.marquee.reverse .marquee-content {
  animation: scrolling-reverse var(--marquee-animation-duration) linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

@keyframes scrolling-reverse {
  0% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }

  100% {
    transform: translateX(0);
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--marquee-element-width);
  height: 100%;
  padding: 20px;


}

.marquee-content li img {
  max-height: 200%;
  max-width: 90%;
  object-fit: contain;
  opacity: 0.6;
  box-shadow: 200px 200px -500px rgba(29, 26, 26, 0.985);
}



@media (min-width: 300px) and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content-wep {
    position: relative;
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(to top, #0a0a0bb5, #03030500, #08070e00);

  }

  .logo-row {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;

  }

  :root {
    --marquee-width: 100%;
    --marquee-height: 80px;
    --marquee-elements-displayed: 6;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 5s);
  }

  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #ffffff00;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
  }

  .marquee::before,
  .marquee::after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 2;
    pointer-events: none;
  }

  .marquee::before {
    left: 0;
  }

  .marquee::after {
    right: 0;
  }

  .marquee-content {
    list-style: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    padding: 0;
    margin: 0;

  }



  .marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--marquee-element-width);
    height: 100%;
    padding: 20px;
    font-size: 12px;
    width: 160px;
    height: 80px;
  }

  .marquee-content li img {
    object-fit: contain;
    opacity: 0.6;
    box-shadow: 200px 200px -500px rgba(29, 26, 26, 0.985);
  }



}