.s5 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}

.church-section {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 30px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    padding: 40px;
    direction: rtl;
    height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.church-slider {
    position: relative;
    width: 50%;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.church-slider img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.church-slider img.active {
    opacity: 1;
}

.church-text {
    width: 50%;
    color: #fff;
    text-align: right;
}

.church-text h2 {
    font-size: 26px;
    color: #00e5ff;
    margin-bottom: 15px;
}

.church-text p {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.church-text button {
    padding: 10px 25px;
    background: #00e5ff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.church-text button:hover {
    background: #00bcd4;
    color: #000;
}

.more-text {
    display: none;
    margin-top: 20px;
}

.more-text.show {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .church-section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 5px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(8px);
        padding: 40px;
        direction: rtl;
        height: 100vh;
        overflow-y: auto;
        min-height: 100vh;
        scroll-behavior: smooth;
    }

    .church-section::-webkit-scrollbar {
        width: 8px;
    }

    .church-section::-webkit-scrollbar-thumb {
        background-color: #00e5ff;
        border-radius: 10px;
    }

    .church-slider {
        position: relative;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    }

    .church-slider img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .church-slider img.active {
        opacity: 1;
    }

    .church-text {
        width: 100%;
        color: #fff;
        text-align: center;
    }

    .church-text h2 {
        font-size: 30px;
        color: #00e5ff;
        margin-bottom: 15px;
    }

    .church-text p {
        font-size: 12px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .church-text button {
        padding: 10px 25px;
        background: #00e5ff;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        transition: 0.3s;
    }

    .church-text button:hover {
        background: #00bcd4;
        color: #000;
    }

    .more-text {
        display: none;
        margin-top: 20px;
        font-size: 3px;
    }


    .more-text.show {
        display: block;
        font-size: 8px;
    }

}